<div id = "register-card">
  <div id = "register-text">
    <p>Register</p>
  </div>
  <form #forms = "ngForm" [formGroup]="this.formGroup" (ngSubmit)="onSubmit(forms)">
    <mat-form-field id = "input-username" color="accent" appearance="outline">
      <mat-label>Please input your Username</mat-label>
      <input matInput formControlName="username">
      <mat-error *ngIf="this.usernameIsInvalid()">
        Format username tidak valid
      </mat-error>
      <mat-hint>Hint: aaaaaaaa[min 8 characters]</mat-hint>
    </mat-form-field>
    <mat-form-field id = "input-email" color="accent" appearance="outline">
      <mat-label>Please input your email</mat-label>
      <input matInput formControlName="email">
      <mat-error *ngIf="emailIsInvalid()">
        Format email tidak valid
      </mat-error>
      <mat-hint>Hint: aaaaaaaa@gmail.com</mat-hint>
    </mat-form-field>
    <mat-form-field id = "input-password" color="accent" appearance="outline">
      <mat-label>Please input your password</mat-label>
      <input type = "password" matInput formControlName="password">
      <mat-error *ngIf="passwordIsInvalid()">
        Format password tidak valid
      </mat-error>
      <mat-hint>Hint: aaaaaaaa[min 8 characters]</mat-hint>
    </mat-form-field>
    <div id = "container-google">
      <mat-icon id = "google-icon" svgIcon="google"></mat-icon>
      <a id = "login-w-google-anchor" href="http://localhost:8080/oauth2/authorization/google">
        <p>Login with Google</p>
      </a>
    </div>
    <button id = "submit-button" mat-stroked-button [disabled]="submitDisabled()">
      Submit
    </button>
  </form>
</div>
