#login-card{
  position: absolute;
  width: 55em;
  height: 35em;
  background: #202020;
  top: 10em;
  left: 20em;
}

.input-login{
  position: absolute;
  top: 5em;
  left: 5em;
}

#login-text{
  position: absolute;
  color: white;
  font-weight: bolder;
  font-size: 2em;
  left: 12em;
  top: 1em;
}

#input-email{
  position: absolute;
  width: 45em;
  height: 10em;
  top: 2.5em;
}

#input-password{
  position: absolute;
  width: 45em;
  height: 10em;
  top: 9em;
}

#google-icon{
  position: absolute;
  top: 18em;
  width: 2em;
  height: 2em;
  background-color: white;
}

#login-w-google-anchor{
  color: #202020;
  font-style: italic;
  font-size: 1.5em;
  width: 10em;
  position: absolute;
  top: 12em;
  left: 1.33em;
  background-color: white;
  height: 1.35em;
}

#container-google{
  position: absolute;
  background-color: white;
}

#button-submit{
  position: absolute;
  left: 37em;
  top: 17em;
  color: white;
}
