<div id = "login-card">
  <p id = "login-text">Login</p>
  <div class = "input-login">
    <form [formGroup]="this.formGroup">
      <mat-form-field appearance="fill" [color]="this.emailColor" id = "input-email">
        <mat-label>Input your email</mat-label>
        <input matInput name="email" type="email" formControlName="email" placeholder="Example: aaaaaa@gmail.com">
        <mat-error *ngIf="!emailValidation()">
          Email tidak valid
        </mat-error>
      </mat-form-field>
      <mat-form-field id = "input-password" appearance="fill" [color]="this.passwordColor">
        <mat-label>Input your password</mat-label>
        <input matInput name="password" type="password" formControlName="password">
        <mat-error *ngIf="!passwordValidation()">
          Masukkan password Anda!
        </mat-error>
      </mat-form-field>
    <div id = "container-google">
      <mat-icon id = "google-icon" svgIcon="google"></mat-icon>
      <a id = "login-w-google-anchor" href="https://www.google.com">
        <p>Login with Google</p>
      </a>
    </div>
    <button mat-stroked-button id = "button-submit" [disabled]="disableButton()">
      <p style="color: white;">Submit</p>
    </button>
    </form>
  </div>
</div>
